

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8em;
  color: #333;
}

input {
  width: 80%;
  padding: 12px;
  font-size: 1.5em;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  color: #333;
  
}



button {
  padding: 15px 20px;
  font-size: 1.8em;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ecf0f1;
  color: #333;
  width: calc(30% - 10px); 
  margin-bottom: 10px;
  
}

button:hover{
  background-color: #bdc3c7;
  cursor: pointer;
}
button[type="submit"] {
  background-color: #2ecc71;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}

.completebutton {
  width: calc(60%); 
}

.LockerSelect {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

select {
  width: 100%;
  padding: 12px;
  font-size: 1.5em;
 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

p {
  font-size: 1.2em;
  color: #333;
  
}
